* {
    box-sizing: border-box;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-left: 25px;
  color: #515076;
}

.card {
  background-color: #F7F7FA;
  width: 340px;
  padding: 25px;
  img {
    width: 290px;
  }
}

.title {
  font-size: 70px;
  font-weight: 400px;
  line-height: 78px;
  margin: 0;
  text-align: center;
}

.products-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.text {
  color: #A5A3B9;
  font-weight: 400;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.card-description {
  font-weight: 700;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-text {
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 15px;
}

.composition {
  margin-bottom: 5px;
}

.composition-1 {
  margin-bottom: 25px;
}

.price {
  font-weight: 700;
  font-size: 20px;
  margin-right: 161px;
}

.numbers {
  font-weight: 400;
  font-size: 20px;
}