body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.card {
  background-color: #F7F7FA;
}

.title {
  font-size: 70px;
  font-weight: 400px;
  line-height: 78px;
  margin: 0;
  text-align: center;
  color: #515076;
}

.img {
  margin-bottom: 30px;
} 


.products-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nomber-text {
  font-family: Montserrat;
  color: #A5A3B9;
  font-weight: 400;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.h2 {
  font-family: Montserrat;
  color: #515076;
  font-weight: 700;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-text {
  font-family: Montserrat;
  color: #515076;
  font-weight: 400;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.main-text-1 {
  margin-bottom: 5px;
}

.main-text-2 {
  margin-bottom: 25px;
}

.price {
  font-family: Montserrat;
  color: #515076;
  font-weight: 700;
  font-size: 20px;
  margin-right: 161px;
}

.numbers {
  font-family: Montserrat;
  color: #515076;
  font-weight: 400;
  font-size: 20px;
}