* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background-image: url("/images/bg_1.png");
  font-size: 13px;
  line-height: 18px;
  margin-left: 25px;
  color: #515076;
}

.card {
  background-color: #F7F7FA;
  width: 340px;
  padding: 25px;
  img {
    width: 290px;
  }
}

.title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin-top: 220px;
  margin-bottom: 110px;
  text-align: center;
}

.products-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 45px;
  column-gap: 45px;
  justify-content: center;
  width: 1110px;
}

.text {
  color: #A5A3B9;
  font-weight: 400;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.card-description {
  font-weight: 700;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-text {
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 15px;
}

.all-composition {
  padding-left: 15px;
}

.composition {
  margin-bottom: 5px;
}

.composition-last {
  margin-bottom: 25px;
}

.product-price {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.price {
  font-weight: 700;
  font-size: 20px;
}

.numbers {
  font-size: 20px;
}